<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>股指</string>
		<key>value</key>
		<array>
			<dict>
				<key>code</key>
				<string>FR40F.OTC</string>
				<key>name</key>
				<string>法国40指数期货</string>
			</dict>
            <dict>
                <key>code</key>
                <string>UK100F.OTC</string>
                <key>name</key>
                <string>英国100指数期货</string>
            </dict>
            <dict>
                <key>code</key>
                <string>ES35F.OTC</string>
                <key>name</key>
                <string>西班牙35指数期货</string>
            </dict>
            <dict>
                <key>code</key>
                <string>STOXX50F.OTC</string>
                <key>name</key>
                <string>欧洲50指数期货</string>
            </dict>
            <dict>
                <key>code</key>
                <string>JP225F.OTC</string>
                <key>name</key>
                <string>日经225指数期货</string>
            </dict>
            <dict>
                <key>code</key>
                <string>AU200F.OTC</string>
                <key>name</key>
                <string>澳洲200指数期货</string>
            </dict>
            <dict>
                <key>code</key>
                <string>DE30F.OTC</string>
                <key>name</key>
                <string>德国30指数期货</string>
            </dict>
            <dict>
                <key>code</key>
                <string>USTEC100F.OTC</string>
                <key>name</key>
                <string>纳斯达克100指数期货</string>
            </dict>
            <dict>
                <key>code</key>
                <string>US500F.OTC</string>
                <key>name</key>
                <string>标普500指数期货</string>
            </dict>
            <dict>
                <key>code</key>
                <string>US30F.OTC</string>
                <key>name</key>
                <string>道琼斯指数期货</string>
            </dict>
            <dict>
                <key>code</key>
                <string>HK40F.OTC</string>
                <key>name</key>
                <string>恒生指数期货</string>
            </dict>
            <dict>
                <key>code</key>
                <string>CNA50F.OTC</string>
                <key>name</key>
                <string>富时中国A50指数期货</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>金属</string>
		<key>value</key>
		<array>
			<dict>
				<key>code</key>
				<string>XAUUSD.OTC</string>
				<key>name</key>
				<string>现货黄金</string>
			</dict>
			<dict>
				<key>code</key>
				<string>XAGUSD.OTC</string>
				<key>name</key>
				<string>现货白银</string>
			</dict>
			<dict>
				<key>code</key>
				<string>USGC.OTC</string>
				<key>name</key>
				<string>纽约金</string>
			</dict>
			<dict>
				<key>code</key>
				<string>USSI.OTC</string>
				<key>name</key>
				<string>纽约银</string>
			</dict>
			<dict>
				<key>code</key>
				<string>USPL.OTC</string>
				<key>name</key>
				<string>纽约铂金</string>
			</dict>
			<dict>
				<key>code</key>
				<string>USPA.OTC</string>
				<key>name</key>
				<string>纽约钯金</string>
			</dict>
			<dict>
				<key>code</key>
				<string>USHG.OTC</string>
				<key>name</key>
				<string>纽约铜</string>
			</dict>
			<dict>
				<key>code</key>
				<string>AUTD.SGE</string>
				<key>name</key>
				<string>上海黄金TD</string>
			</dict>
			<dict>
				<key>code</key>
				<string>AGTD.SGE</string>
				<key>name</key>
				<string>上海白银TD</string>
			</dict>
			<dict>
				<key>code</key>
				<string>AU100G.SGE</string>
				<key>name</key>
				<string>上海100克金条</string>
			</dict>
			<dict>
				<key>code</key>
				<string>AU9995.SGE</string>
				<key>name</key>
				<string>上海黄金9995</string>
			</dict>
			<dict>
				<key>code</key>
				<string>mAUTD.SGE</string>
				<key>name</key>
				<string>上海迷你黄金TD</string>
			</dict>
			<dict>
				<key>code</key>
				<string>PT9995.SGE</string>
				<key>name</key>
				<string>上海铂金9995</string>
			</dict>
			<dict>
				<key>code</key>
				<string>UKCA.OTC</string>
				<key>name</key>
				<string>伦敦期铜</string>
			</dict>
			<dict>
				<key>code</key>
				<string>UKAH.OTC</string>
				<key>name</key>
				<string>伦敦期铝</string>
			</dict>
			<dict>
				<key>code</key>
				<string>UKNI.OTC</string>
				<key>name</key>
				<string>伦敦期镍</string>
			</dict>
			<dict>
				<key>code</key>
				<string>UKPB.OTC</string>
				<key>name</key>
				<string>伦敦期铅</string>
			</dict>
			<dict>
				<key>code</key>
				<string>UKSN.OTC</string>
				<key>name</key>
				<string>伦敦期锡</string>
			</dict>
			<dict>
				<key>code</key>
				<string>UKZS.OTC</string>
				<key>name</key>
				<string>伦敦期锌</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>能源</string>
		<key>value</key>
		<array>
			<dict>
				<key>code</key>
				<string>UKOIL.OTC</string>
				<key>name</key>
				<string>布伦特原油</string>
			</dict>
			<dict>
				<key>code</key>
				<string>USCL.OTC</string>
				<key>name</key>
				<string>WTI原油</string>
			</dict>
			<dict>
				<key>code</key>
				<string>USNG.OTC</string>
				<key>name</key>
				<string>天然气</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>农产品</string>
		<key>value</key>
		<array>
			<dict>
				<key>code</key>
				<string>USYO.OTC</string>
				<key>name</key>
				<string>糖</string>
			</dict>
			<dict>
				<key>code</key>
				<string>USZC.OTC</string>
				<key>name</key>
				<string>玉米</string>
			</dict>
			<dict>
				<key>code</key>
				<string>USZS.OTC</string>
				<key>name</key>
				<string>大豆</string>
			</dict>
			<dict>
				<key>code</key>
				<string>USZW.OTC</string>
				<key>name</key>
				<string>小麦</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
